<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-header">
        Actualizar Sensor
      </div>
      <div class="card-body">
        <form action="/actualizarsensor" method="POST">
          <h12>Nombre del sensor:</h12>
          <div class="form-group">
            <input type="String" class="form-control" name="nombre"  value="{{nombre}}">
          </div>
          <h12>Ubicacion:</h12>
          <div class="form-group">
            <input type="String" class="form-control" name="ubicacion" value="{{ubicacion}}">
          </div>
          <h12>Tipo:</h12>
          <div class="form-group">
            <input type="String" class="form-control" name="tipo" value="{{tipo}}">
          </div>
          <h12>Latitud:</h12>
          <div class="form-group">
            <input type="Number" class="form-control" name="latitud" value="{{latitud}}">
          </div>
          <h12>Longitud:</h12>
          <div class="form-group">
            <input type="Number" class="form-control" name="longitud" value="{{longitud}}">
          </div>
          <h12>Valor:</h12>
          <div class="form-group">
            <input type="Number" class="form-control" name="valor" value="{{valor}}">
          </div>
          <button class="btn btn-primary btn-block">
            Guardar cambios
          </button>
        </form>
      </div>
    </div>
  </div>
</div>